@import "../global.scss";

.be-partner-page {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  .be-partner-page-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    .top-content-bepartner-page {
      transform: translateY(-5.1rem);
      position: relative;
      width: 100%;
      height: 870px;

      .backg-wrapper {
        width: 100%;
        height: auto;
        @include flexible;
        overflow: hidden;
        img {
          width: 100%;
          height: 878px;
          object-fit: fill;
        }
      }

      .form-and-text {
        height: 600px;
        position: absolute;
        width: 100%;
        top: 20%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 160px;
        padding-right: 160px;

        .left {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          gap: 20px;
          h1 {
            @include AmericanCaptain();
            font-size: 128px;
            font-weight: 400;
            line-height: 112px;
            letter-spacing: 0.01em;
            text-align: left;
            color: #fefefe;
            text-transform: uppercase;
          }
          p {
            font-size: 18px;
            font-weight: 300;
            line-height: 27px;
            letter-spacing: 0.01em;
            text-align: left;
            color: #ffffff;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hiddend;
          }
        }

        .right {
          display: flex;
          align-items: flex-start;
          justify-content: flex-end;
          .form-be-partner {
            border-radius: 16px;
            width: 400px;
            min-height: 500px;
            background: rgba(254, 254, 254, 1);
            box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap: 20px;

            .title {
              width: 100%;
              height: auto;
              @include flexible;
              padding-top: 25px;
              h1 {
                color: black;
                font-weight: 400;
                font-size: 40px;
                @include AmericanCaptain();
                display: -webkit-box;
                -webkit-line-clamp: 2;
                text-align: center;
                text-transform: uppercase;
                letter-spacing: -0.5px;
                overflow: hidden;
                -webkit-box-orient: vertical;
              }
            }

            .email-input,
            .business-name-input,
            .record-input {
              width: 100%;
              height: auto;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              flex-direction: column;
              input {
                transition: 700ms ease-out;
                background: rgba(244, 244, 244, 1);
                border: none;
                outline: none;
                border-radius: 12px;
                padding-left: 12px;
                padding-right: 12px;
                width: 80%;
                height: 50px;
                color: #414141;
                font-size: 16px;
                font-weight: 300;
              }
              input:focus {
                border: 1px solid orange;
              }

              input::placeholder {
                color: rgba(178, 178, 178, 1);
                font-weight: 300;
                font-size: 16px;
                padding-left: 10px;
              }
            }

            .phone-number-input {
              width: 100%;
              height: auto;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              .left-operator-code,
              .right-phone-num {
                width: calc(20% - 5px);
                height: auto;
                @include flexible;
                flex-direction: column;
                input {
                  transition: 700ms ease-out;
                  background: rgba(244, 244, 244, 1);
                  border: none;
                  outline: none;
                  border-radius: 12px;
                  width: 100%;
                  height: 50px;
                  color: #414141;
                  font-size: 16px;
                  font-weight: 300;
                  padding-left: 20px;
                  padding-right: 20px;
                }
                input:focus {
                  border: 1px solid orange;
                }

                input::placeholder {
                  color: rgba(178, 178, 178, 1);
                  font-weight: 300;
                  font-size: 16px;
                }

                select {
                  width: 100%;
                  height: 50px;
                  border-radius: 12px;
                  border: none;
                  outline: none;
                  background-color: #f4f4f4;
                  color: #b2b2b2;
                  font-size: 16px;
                  font-weight: 300;
                  padding-left: 10px;
                  cursor: pointer;
                  padding-right: 10px;
                  background-image: url("../formdown.svg");
                  background-repeat: no-repeat;
                  background-size: auto;
                  background-position-x: 50px;
                  background-position-y: center;
                  appearance: none !important;
                  -webkit-appearance: none !important;
                  -moz-appearance: none !important;
          
                  option {
                    color: #414141;
                  }
                }
                select:hover {
                  transform: scale(1.02);
                }
              }
              .right-phone-num {
                width: calc(60% - 5px);
                input[type="number"]::-webkit-inner-spin-button,
                input[type="number"]::-webkit-outer-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
              }
              .left-operator-code > select::placeholder {
                padding-left: 6px;
              }
            }

            .submit-area {
              width: 100%;
              height: auto;
              @include flexible;
              margin-top: 40px;
              button[type="submit"] {
                margin-bottom: 1.5rem;
                position: relative;
                width: 80%;
                cursor: pointer;
                transition: 400ms ease-out;
                border-radius: 100px;
                background-color: transparent;
                height: 50px;
                border: 2px solid rgba(255, 102, 0, 1);
                outline: none;
                color: rgba(255, 102, 0, 1);
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 500;
                @include Poppins();
                font-size: 18px;
                gap: 20px;
                -webkit-appearance: none !important;
                appearance: none !important;
                img {
                  width: 25px;
                  height: 25px;
                  object-fit: contain;
                }
              }
              button[type="submit"]::after {
                content: url("../orangerighticon.svg");
                position: absolute;
                right: 20%;
                top: 27%;
              }
              button[type="submit"]:hover {
                background: rgba(255, 102, 0, 1) !important;
                color: #fff;
                font-weight: 600;
                appearance: none !important;
                -webkit-appearance: none !important;
              }
              button[type="submit"]:hover::after {
                content: url("../right_icon_white.svg");
              }
              button[type="submit"]:active {
                transform: translateY(2px);
              }
            }

            .error-msg {
              animation: opacityErrMsg 0.3s ease-out forwards normal;
              color: rgba(255, 0, 0, 1);
              font-weight: 300;
              @include Poppins();
              font-size: 14px;
              letter-spacing: -0.5px;
              width: 80%;
              text-align: start;
              padding: 5px;
              @keyframes opacityErrMsg {
                from {
                  opacity: 0;
                }
                to {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }

    .partner-section {
      width: 100%;
      height: auto;
      display: grid;
      padding-left: 160px;
      padding-right: 160px;
      margin-bottom: 5rem;
      margin-top: 58px;
      grid-template-columns: repeat(2, 1fr);
      gap: 150px;
      .left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 22px;
        strong {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 6;
          -webkit-box-orient: vertical;
          overflow: hidden;
          font-size: 24px;
          font-weight: 600;
          line-height: 36px;
          letter-spacing: 0.015em;
          text-align: left;
          color: #212121;
        }
        p {
          font-size: 18px;
          font-weight: 300;
          line-height: 27px;
          letter-spacing: 0.01em;
          text-align: left;
          color: #212121;
          display: -webkit-box;
          -webkit-line-clamp: 6;
          line-clamp: 6;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }

      .right {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0px;
        row-gap: 20px;
        width: 100%;
        .bottom,
        .top {
          grid-template-columns: repeat(1, 1fr);
          overflow: hidden;
          display: grid;
          width: 100%;
          .wrappered {
            width: 100%;
            height: 100px;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }
    }

    .adversiments {
      margin-top: 3rem;
      width: 100%;
      height: auto;
      margin-bottom: 5rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding-left: 160px;
      padding-right: 160px;
      gap: 30px;
      .item-adversiment {
        width: 100%;
        transition: background-color 300ms ease-in-out;
        height: auto;
        padding: 12px 0px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;
        flex-direction: column;
        background: #f3fbf5;
        box-shadow: 0px 4px 6px -1px #0000001A;
        box-shadow: 0px 2px 4px -1px #0000000F;
        border-radius: 12px;

        .image-wrapper {
          width: 90%;
          border-radius: 4px;
          height: 140px;
          @include flexible;
          overflow: hidden;
          img {
            border-radius: 4px;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .text {
          width: 90%;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;

          .title,
          .descript {
            width: 90%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            h1 {
              font-size: 24px;
              font-weight: 600;
              line-height: 36px;
              letter-spacing: 0.015em;
              text-align: left;
              color: #212121;
              display: -webkit-box;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
            p {
              font-size: 16px;
              font-weight: 300;
              line-height: 24px;
              letter-spacing: 0.015em;
              text-align: left;
              color: #212121;
              display: -webkit-box;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;
              overflow: hidden;
            }
          }
        }
      }
     
    }

    .money-and-time {
      width: 100%;
      margin-top: 166px;
      height: auto;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      padding-left: 160px;
      padding-right: 160px;
      gap: 80px;
      .top {
        width: 100%;
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
        flex-direction: column;
        .title {
          width: 100%;
          height: auto;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          h1 {
            @include AmericanCaptain();
            font-size: 72px;
            font-weight: 400;
            line-height: 72px;
            text-align: left;
            text-transform: uppercase;
            color: #ff6600;
          }
        }

        p {
          font-size: 18px;
          font-weight: 300;
          line-height: 27px;
          letter-spacing: 0.01em;
          text-align: left;
          color: #212121;
        }
      }

      .bottom {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: flex-start;
        justify-items: flex-start;
        gap: 80px;
        .money-time-item {
          width: 100%;
          height: 250px;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          flex-direction: column;
          gap: 30px;
          .image-wrapper {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 7px solid #fff0e6;
            @include flexible;
            overflow: hidden;
            img {
              width: 60%;
              height: 60%;
              object-fit: scale-down;
            }
          }

          .bottomtext {
            width: 100%;
            height: auto;
            min-height: 114px !important;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;

            h1 {
              font-size: 24px;
              font-weight: 600;
              line-height: 36px;
              letter-spacing: 0.015em;
              text-align: left;
              color: #212121;
            }

            p {
              font-size: 16px;
              font-weight: 300;
              line-height: 24px;
              letter-spacing: 0.015em;
              text-align: left;
              color: #212121;
            }
          }
        }
      }
    }
  }
}
