@import "../global.scss";

.header {
  animation: header 0.4s ease-in-out forwards normal;
  position: fixed;
  z-index: 100000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 160px;
  padding-right: 160px;
  top: 4rem;

  @keyframes header {
    0% {
      transform: translateY(-2rem);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .left {
    width: 120px;
    height: auto;
    overflow: hidden;
    @include flexible;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 44px;
    .header-item {
      @include Poppins();
      font-size: 16px;
      font-weight: 600;
      text-decoration: none;
      color: #303030;
      transition: 150ms ease-in-out;
    }
    .header-item:hover {
      color: #ff6600 !important;
    }
    .special-link {
      color: #ff6600 !important;
    }

    .language-selector {
      
      width: auto;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      select {
        width: 74px;
        height: 30px;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0.01em;
        text-align: left;
        text-transform: capitalize;
        @include Poppins();
        color: #fff;
        cursor: pointer;
        transition: 200ms ease-in;
        background-color: transparent;
        background-image: url("../down.svg");
        background-repeat: no-repeat;
        background-size: auto;
        background-position-x: 40px;
        background-position-y: center;
        appearance: none !important;
        -webkit-appearance: none !important;
        -moz-appearance: none !important;

        option {
          background-color: black;
          color: #fff;
        }
      }
      select:hover {
        color: #ff6600 !important;
      }
    }
  }
}

@media screen and (min-width: 1080px) and (max-width: 1223px) {
  .header {
    padding-left: 24px;
    padding-right: 24px;
  }
}
